.news-container {
    margin: auto;
}

.cards {
    margin: auto;
    width: 95%;
}

.card-container {
    background-color: black;
    color: white;
    border-radius: 20px;
}

.card-preview {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.card-image img {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.card-title {
    font-size: larger;
    font-weight: bolder;
}

.card-content {
    padding: 5px;
    font-weight: bold;
}

.card-button {
    margin: 10px auto 15px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.card-button a{
    position: relative;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.card-button a::before {
    content: '';
    position: absolute;
    top: 65%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: 0.3s;
}

.card-button a:hover::before {
    width: 100%;
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-prev:before{
    color: black !important;
}

.slick-next:before{
    color: black !important;
}

.card-image img{
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
}

.card-image img:hover{
    transform: scale(0.95);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(68);
}

@media only screen and (max-width: 600px) {
    .cards{
        width: 89%;
    }

    .card-title{
        font-size: 14px;
    }

    .card-content{
        font-size: 12px;
    }
  }