.news-details-principal {
    height: 100vh;
    overflow-y: scroll;
    background: url('/images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.back-to-news {
    background-color: white;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    border: solid black;
    padding: 10px;
    transition: 0.5s;
}

.back-to-news:hover{
    background-color: #bbb;
}

.back-to-news a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.back-to-news a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: 0.3s;
}

.back-to-news a:hover::before {
    width: 100%;
}

.news-details-content {
    width: 70vw;
    margin: 100px 60px 50px;
    font-weight: bolder;
}

.news-details-preview {
    background-color: black;
    border-radius: 20px;
}

.news-details-preview img {
    padding: 20px;
    width: 70vw;
    border-radius: 20px;
}