.cards-principal {
    height: 100vh;
    overflow-y: scroll;
    background: url('/images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.cards-form-container {
    margin: 20px;
    width: 75vw;
    border: solid black;
    border-radius: 20px;
    padding: 10px;
}

#cards-form>input[type="submit"] {
    background-color: #bbb;
    color: black;

}

.cards-input {
    padding: 10px;
    border-radius: 20px;
    border: solid #bbb;
    margin-right: 10px;
    font-weight: bolder;
    transition: 0.3s;
}

.cards-input:hover {
    border: solid black;
}

.cards-filter {
    margin-top: 15px;
    font-size: 20px;
}

.cards-title {
    margin: 100px 60px 50px;
}

.cards-container {
    background-color: #bbb;
    color: black;
    border-radius: 20px;
    border: solid black;
    padding: 10px;
}

.cards-content {
    margin: 100px 100px 50px;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
}

.cards-image-container {
    width: 100%;
    background-color: #bbb;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.cards-image {
    display: flex;
    background-color: #bbb;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cards-image img {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    transition: 0.3s;
}

.cards-image img:hover {
    transform: scale(0.95);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(68);
}

.cards-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    font-size: large;
    font-weight: bold;
}

.cards-full{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.cards-full img{
    width: 90%;
    max-width: 500px;
}

.cards-full span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.cards-delete-icon {
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-size: large;
}

.cards-delete-icon:hover{
    color: red;
    font-size: medium;
}